.div_assinature { 
    grid-area: assinature;
    font:600;
    font-size: 10px; 
    padding: 2px 0px 0px 0px;
    text-align: center;
}
.div_welcome {
    grid-area: welcome;
    padding: 10px;
    font-size: 18px;
    margin: 10px 10px 0 0;
}
.div_title { 
    margin-top: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_title div{
    width: 100%;
    margin-right: 10px;
}

.div_downloads.select{
    background-color: var(--bs-blue) !important;
}
.div_downloads:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--bs-blue) !important;
}
.div_routes { 
    margin: 10px 0 0 0;
    font-size: 15px;
    text-align: center;
    background-color: var(--bs-secondary-color);

    display: flex;
    flex-direction: row;

}
.div_routes > .div_downloads {
    border-radius: 5px 0 0 5px;
    grid-area: downloads;
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--bs-gray-800) !important;
    width: 20%;
}
.div_routes > .div_navegation{
    margin: 10px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    width: 80%;
}
.div_navegation > div:not(.row) {
    font-size: 0.65rem;
}
.div_navegation .row {
    font-size: 1rem;
}
.webnavbar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}