.grid-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.grid-box > div{
    position: relative;

    flex: 1;
    margin: 4px 5px 4px 5px;
    padding: 7px 0px 6px 5px;
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;

    background-color: #ffffff09;
    border-radius: 10px;
    z-index: 10;

    transition: 0.2s ease-in-out;
}

.grid-box > div:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.35);
    box-shadow: 10px 10px 0px 0px #00000021;
    z-index: 100;
}
.grid-box > div:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background-color: #ffffff09;
    border-radius: 10px;
    z-index: -1;
}

.grid-box > div > i{
    margin-top: 5px;
    font-size: 1.85rem;
    width: 100%;
}
.grid-box > div > :not(i){
    font-weight: 600;
    font-size: 0.55rem;
}

.minnor{
    font-size: 13px;
    font-weight: 300;
}
.minnor:last-child{
    margin-top: 10px;
}


.unity{
    background-color: rgba(255, 255, 255, 0.507) !important;
    color: black !important;
}
.unity:before {
    background-color: rgba(255, 255, 255, 0.425) !important;
}