body{
    font-family: Monospace, sans-serif;
}
p{
    margin: 0px;
    padding: 0px;
}
.flag-box{
    border: 0px solid #ffffff17 !important;
    border-radius: 0px !important;
    padding: 4px !important;
    background-color: var(--bs-blue) !important;
    opacity: 0.6;
    font-weight: 600;
    font-size: 12px;
}